:root {
    --color: red;;
    --hover-color: orange;
    --background-color: lightgrey;
    --font-box-color: darkslategray;
    --border-radius: 23px;
    --border-size: 8px;
}

/* || Elements */


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: var(--background-color);
    color: var(--color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-align: right;
    background-color: var(--font-box-color);
}

h1 {
    padding-right: 5px;
    text-align: right;
    line-height: 60px;
    height: 60px;
    width: 35%;
    font-size: 50px;
    color: var(--font-box-color);
    background-color: var(--color);
}

h2 {
    padding-right: 5px;
    font-size: 50px;
    text-align: right;
}

nav li {
    display: inline;
    line-height: 60px;
    height: 60px;
    padding: 20px;
    font-size: 24px;
}

nav a {
    color: var(--color);
    text-decoration-color: var(--color);
    text-decoration-line: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

nav a:hover {
    color: var(--hover-color);
    text-decoration-color: var(--hover-color);;
}

aside {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    flex-flow: column wrap;
    width: 25%;
}

section {
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    padding: 13px;
    color: var(--font-box-color);
}


figure {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* min-height: 100%; */

    /* flex: 1 0 100%; */
    /* when the screen resizes, make it so our columns don't jump in size */
    /* transition: flex-basis 500ms linear; */
    /* flex-grow: 1; */

    /* flex: 0 1 auto; */
    
    /*
    justify-content: center;
    align-items:flex-start;
    padding: 30px 30px 60px 60px;
    */
}


/* || CLASSES */ 

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}


.jeff-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.large-image {
    margin: 6px;
    border-style: solid;
    border-color: var(--font-box-color);
    border-radius: var(--border-radius);
    border-width: var(--border-size);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    /* transition-duration: 0.3s; */
    /* transition: all 0.3s ease-in-out; */
}

.small-image {
    margin: 6px;
    border-style: solid;
    border-color: var(--font-box-color);
    border-radius: var(--border-radius);
    border-width: var(--border-size);
    max-width: 50%;
    
    margin-left: auto;
    margin-right: auto;
    
    /* display: block; */
    /*
    max-width: 450px;
    max-height: 300px;
    */
    /* opacity: 0.5; */
    /* transition: all 0.3s ease-in-out; */
}

.large-image::before {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: .3s; 
}

.large-image:hover, 
.small-image:hover {
    opacity: 1;
    /* transition: all 0.5s ease-in-out; */
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: .3s;     
}


.right-content { 
    border-color: var(--font-box-color);
    border-left-style: solid;
    border-width: 6px;
    padding-left: 23px;
    width: 80%;
}

.right-link li {
    display: inline;
    line-height: 60px;
    height: 60px;
    padding: 20px;
    font-size: 24px;
}

.right-link a {
    color: var(--font-box-color);
    text-decoration-color: var(--font-box-color);
    text-decoration-line: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.image-transistion {
    opacity: 1;
}


/*
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}
*/